# Web server and UI
flask>=2.0.0
flask-socketio>=5.0.0
gevent>=21.0.0
gevent-websocket>=0.10.1

# Video processing
opencv-python
numpy
av>=8.0.0
pillow

# GPIO control
RPi.GPIO

# Utility packages
pyyaml
python-dotenv
requests

# Socket.IO client
python-socketio>=5.0.0
eventlet
